{% extends "../base.html" %}
{% load static %}
{% block title %}
{{ animal.name }}
{% endblock %}
{% block content %}


<main class="pt-2">

  <div class="container" style="max-width: 1000px">

        <div class="row g-3">

            <div class="col-12 d-flex justify-content-between">

        </div>

        <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">
            <div class="d-grid gap-2">

            <div class="d-flex d-flex-inline justify-content-between">
            <div><span class="h3">€{{ animal.price }}</span><p class="text-muted">includes tax</p></div>
               <div class="">
                                <label for="select">Qty</label>
                                <select id="select" class="h6" style="width:50px;height:40px;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                    </div>
            </div>

            <hr>
            <button type="button" id="add-button" value="{{animal.id}}" class="btn btn-info fw500">Add to catbox</button>
            <button type="button" id="add-button" value="{{animal.id}}" class="btn btn-secondary fw500">Add to Favorites</button>
               {% if user.is_superuser %}
                <a type="button" href="{%  url "store:update_animal"  animal.slug %}" value="{{animal.id}}" class="btn btn-warning fw500">Update animal</a>
                <a type="button" href="{%  url "store:delete_animal" animal.slug %}" value="{{animal.id}}" class="btn btn-danger fw500">Delete animal</a>
               {% endif %}
            </div>
        </div>

        <div class="col-md-7 col-lg-7 p-0">

            <div class="card mb-3 border-0">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body p-1">
                        <h1 class="mb-0 h2 pe-4 pb-4">{{ animal.animal_name }}</h1>
                        <div class="bg-light"><img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ animal.image.url }}"> </div>
                    </div>

                </div>
            </div>
            </div>

            <div><p><b>Age:</b> {{ animal.age }}</p>
            <p><b>Sex:</b> {{ animal.sex }}</p>
            <p><b>Fur pattern:</b> {{ animal.fur_pattern}}</p>
            <p><b>Fur color:</b> {{ animal.fur_color }}</p>
            <p><b>Fur length:</b> {{ animal.fur_length }}</p>
            <p><b>Special needs:</b> {{ animal.special_needs }}</p>
            <p><b>Location:</b> {{ animal.location }}</p></div>




</div>

    </div>
  </div>
</main>


    <script>
     $(document).on('click', '#add-button', function (e) {
         e.preventDefault();
         $.ajax({
             type: 'POST',
             url: '{%  url "basket:basket_add" %}',
             data: {
                 animalid: $('#add-button').val(),
                 animalqty: $('#select option:selected').text(),
                 csrfmiddlewaretoken: "{{csrf_token}}",
                 action: 'post'
             },
             success: function(json) {
                document.getElementById("basket-qty").innerHTML = json.qty

             },
             error: function(xhr, errmsg, err) {}
         });
         })
    </script>

{% endblock %}