{% extends "../base.html" %}
{% load static %}
{% block title %}Your Catbox Summary{% endblock %}
{% block content %}

<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h1 class="h2">Catbox</h1>
        </div>
    <div class="col-12">
        <p>Manage <b>pets</b> selected for adoption</p>
    </div>
    <hr />
  </div>
  <div class="container" style="max-width: 1000px">

      <div class="row g-3">
      <div class="col-12 bg-light p-3 d-flex justify-content-between">
        <div class="d-flex d-flex-inline">
          <div class="pe-3">Consult</div>
          <div class="dropdown">
          <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink" data-bs-toggle="dropdown" aria-expanded="false">
          Transportation options
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownLink">
            <li class="item small">Delivery to new home</li>
            <li class="item small">Self-pick up </li>
          </ul>
          </div>
        </div>
        <div class="text-end">

          <div class="">Sub Total: <span class="fw-bold">€</span><div id="subtotal" class="d-inline-flex fw-bold">{{basket.get_subtotal_price}}</div></div>
          <div id="">Transport <span class="small">(Self-pick up)</span>: <span class="fw-bold">€0.0</span></div>
          <div class="pt-2">Total to pay: <span class="fw-bold h5">€</span><span id="total" class="fw-bold h5">{{basket.get_total_price}}</span></div>

        </div>
      </div>
      <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
        <div class="d-grid gap-2 ">
          <a role="button" href="" class="btn btn-info fw-bold" type="button">Checkout</a>
          <button class="btn btn-secondary" type="button">Save for later</button>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 p-0">

    {% for item in basket %}
    {% with animal=item.animal %}

<div class="card mb-3 border-0 animal-item" data-index="{{animal.id}}">
          <div class="row g-0">
            <div class="col-md-2 d-none d-md-block">
        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ animal.image.url }}">
      </div>
      <div class="col-md-10 ps-md-3">
              <div class="card-body p-1">
        <a href="{{ animal.get_absolute_url }}" class="text-decoration-none text-reset">
          <p class="card-text pb-3">{{animal.animal_name}}</p>
        </a>
                <label for="select">Qty</label>
                <select id="select{{animal.id}}" style="width:50px;height:31px;">
                  <option value="" selected disabled hidden>{{item.qty}}</option>>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                  <a type="button" id="update-button" data-index="{{animal.id}}" class="update-button text-decoration-none small ps-3">Update</a>
                <a type="button" id="delete-button" data-index="{{animal.id}}" class="delete-button text-decoration-none small">Delete</a>
              </div>
              </div>
            </div>
          </div>
    {% endwith %}
    {% endfor %}
        </div>
     </div>
  </div>

          {% for item in basket %} {% with animal=item.animal %}

          <div class="animal-item" data-index="asdanimal.idasd" class="mb-4 container">
            <div class="row p-3">
              <div class="col-md-2 p-0">
                <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image"
                  src="asd animal.image.url asd" />
              </div>

              <div class="col-md-10">
                <a href="asd animal.get_absolute_url asd" class="text-decoration-none text-reset fs-6">
                  asd animal.animal_name asd
                </a>
                <div>
                  <div class="col">
                    <div class="row">
                      <div class="col-6"></div>
                      <div class="col-6 text-end">
                        <span class="h6 fw-bold"> animal.price asd</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="select">Qty</label>
                    <select id="selectasdanimal.idasd">
                      <option selected>asditem.qtyasd</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select>
                    <button type="button" id="update-button" data-index="asdanimal.idasd"
                      class="btn btn-outline-secondary btn-sm update-button">
                      Update
                    </button>
                    <button type="button" id="delete-button" data-index="asdanimal.idasd"
                      class="btn btn-outline-secondary btn-sm delete-button">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          {% endwith %} {% endfor %}
   <div class="col-12 text-end">
      <div class="h6 fw-bold">Total: €<div id="subtotal" class="d-inline-flex">asdbasket.get_subtotal_priceasd</div></div>
    </div>
        </div>
      </div>
      <div class="nav left col-12 p-4">
        <div class="title-band title-in-block w-100">
          <h2 class="h5">Basket Summary</h2>
          <hr>
          <dl>
            <dt>Delivery to Estonia <a href="#" class="small text-uppercase text-decoration-none fs12">Change</a>
            </dt>
            <dd><span class="price">1.00</span></dd>
            <a href="#" class="small text-uppercase text-decoration-none fs12 fw-bold">Show all delivery options</a>
          </dl>
        </div>

        <div class="d-flex justify-content-between w-100">
          <div class="">
            <h2 class="h5">Total <span class="fs-6 fw-normal">(Including TAX)</span></h2>
          </div>

        </div>



    </div>



</main>



<script>
  // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var animid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_delete" %}',
      data: {
        animalid: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.animal-item[data-index="' + animid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("basket-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  // Update Item
  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var animid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_update" %}',
      data: {
        animalid: $(this).data('index'),
        animalqty: $('#select' + animid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("basket-qty").innerHTML = json.qty
        document.getElementById("subtotal").innerHTML = json.subtotal
      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>



{% endblock %}
