{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Adopt a Cat Today</h1>
        <p class="lead text-muted">CatShop is a platform for adoption of cats and other pets. Here you can find a fluffy friend for no more than 10 eur, aimed to cover transportation costs.</p>
        <p>
          <a href="#" class="btn btn-info">Create Account</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Animals</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for animal in animals %}

        <div class="col">
          <div class="card shadow-sm" >
            <img class="img-fluid" alt="Responsive image" src="{{ animal.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ animal.get_absolute_url }}">{{ animal.animal_name }}</a>
              </p>

            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}